body {
  color: white;
  background-color: #292040;
}
a {
  color: white;
  text-decoration: none;
}

/* Structure */
.main {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 60%;

  display: flex;
  align-items: center;
  flex-direction: row;
}

/* Profile */
.profile {
  margin: 100px;
  font-family: 'Raleway';
}
.picture {
  width: 250px;
  height: 250px;
}
.picture img {
  width: 250px;
  height: 250px;
  background-color: white;
}
.title p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.description p {
  color: #B9B9DC;
  text-align: center;
  font-size: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.social {
  display: flex;
  justify-content: center;
}
.social nav a {
  color: #B9B9DC;
  margin: 5px;
}
.social nav a:hover {
  color: #040306;
}

/* Divider */
.divider {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
	height: 1px;
}
.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #B9B9DC, transparent);
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 80%;
    flex-wrap: wrap;
    justify-content: center;
  }
}