/* General */
* {
  color: #B9B9DC;
}
body {
  background-color: #292040;
}
a {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}
p {
  font-size: 15px;
  text-align: center;
}
a:hover {
  color: #040306;
}

/* Wrappers */
.main {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Profile */
.profile {
  margin-left: 15%;
  margin-right: 15%;

  font-family: 'Raleway';
}
.picture img {
  width: 400px;
  height: auto;
}
.title p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 50px;
  font-weight: bold;

  color: white;
}
.description {
  padding: 20px 0 20px 0;
}
.more {
  display: flex;
  justify-content: flex-end;
}
.social {
  display: flex;
  justify-content: center;
}
.social nav a {
  margin: 5px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .wrapper {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 568px) {
  .picture img {
    width: 250px;
  }

  .title p {
    font-size: 40px;
  }

  .wrapper {
    height: 90%;
  }
}